@media only screen and (max-width: 768px)
{
    .TablePaginationContainer
    {

        justify-content: center;
        align-items: center;
        justify-items: center;
        .PaginationPagerContainer{
        .PageButton:not(:first-child)
        {
            margin-left: 5px;
            
        }
        .NumbersPages
        {
            display: none;
        }
        .PageButton
        {
            display: none;
        }
    }
    }
}
@media only screen and (min-width: 768px)
{
    .InputSearchPage
    {
        display: none;
    }
}
