.about-container
{
    width: 100%;
    height: 100%;
    .wallpaper
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 100%;   
        background-image: url('../../assets/wallpaper.png');
        background-size: cover;
        background-attachment: fixed;
        filter: grayscale(80%);  
    .MeetHeader
    {
        cursor: default;
    }
    p 
    {
        font-size: 60px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin:0;
        padding:0;
        
    }
    .NavigationCircle
    {
        stroke: black;
        stroke-dasharray: 100;
        stroke-width: 3%;
        animation: Nav 3s linear infinite;
    }
    .NavCircleText
    {
        cursor: default;
    }
    @keyframes Nav {
        to {stroke-dashoffset: 1000;}
      
        }
}
    .description
{
    font-size: 40px;
}
.ArticleContainer
{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    font-size: 50px;
}
.Articles 
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.Articles article 
{
    width: 250px;   
    height: 200px;
    background-image: url('../../assets/icon.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 0.5px solid grey;
}
.Articles article:not(:first-child)
{
    margin-left: 50px;
}
}
