@import '../../../node_modules/hamburgers/dist/hamburgers.css';
@import '../../../Contants/Header.scss';
header 
{
    display: flex;
    height: 70px;
    justify-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 0px 2px 3px 0px $BackgroundShadowHeader;
    -moz-box-shadow: 0px 2px 3px 0px $BackgroundShadowHeader;
    box-shadow: 0px 2px 3px 0px $BackgroundShadowHeader;
    h1 
    {
        color: $LogoColorText;
        cursor: default;
        margin-left: 55px;
    }
    .search
{
    height: 30px;
    width: 200px;
    color: $InputColorText;
    margin-top: 18px;
    padding-left: 10px;
}
    .About
    {
        height: 30px;
        margin-top: 20px;
        margin-right: 40px;
    }

}
