.TablePaginationContainer
{
display: flex;
width: 100%;
height: auto;
align-items: center;
justify-content: center;
justify-items: center;
flex-direction: column;
    .TablePagination
    {
    display: flex;
    overflow: scroll;
    width: 60%;
    height: 500px;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(163,163,163,1);
    -moz-box-shadow: 0px 3px 20px 0px rgba(163,163,163,1);
    box-shadow: 0px 3px 20px 0px rgba(163,163,163,1);    
    .PostsPagination
    {
        margin-top: 10px;
    }
   
    :nth-child(even)
    {
    width: 100%;
    text-align: center;
    background-color: grey;
    color: white;
    }    
    }
    
    
   
.PaginationPagerContainer
{
margin-top: 50px;
width: 70%;
height: 80px;
display: flex;
align-items: center;
justify-content: center;
-webkit-box-shadow: -1px 6px 29px 0px rgba(163,163,163,1);
-moz-box-shadow: -1px 6px 29px 0px rgba(163,163,163,1);
box-shadow: -1px 6px 29px 0px rgba(163,163,163,1);

        .PageButton
        {
            width:100px;
            height:50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: grey;
            cursor: pointer;
            text-decoration: underline;
        }
}
}
